<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="Tiniru Doc Generator">
    <meta name="description" content="Tiniru Doc Generator">
    <meta name="author" content="tiniru.com">
    <title>Tiniru Template</title>
	<link rel="shortcut icon" href="assets/img/logotr48.png">
    <link rel="icon" href="assets/img/favicon.png">
    <link href="./assets/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/styles.css" rel="stylesheet">
    
</head>
<body>
    <nav id="topnav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom">
        <a class="navbar-brand" href="#">
            <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Bootstrap
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        
        </div>
    </nav>
    <main class="container-fluid mt-5 py-5">
        <div class="row ">
            <div class="col-md-3 pr-5">
                <div class="sidebar border-right">
                    <div class="py-1"><a class="topics font-weight-bold" href="">Get Started</a></div>
                    <div class="py-1"><a class="topics  font-weight-bold" href="">Get Started</a></div>
                    <div class="py-1">
                            <a class="topics  font-weight-bold" href="">Get Started</a>
                            <ul class="nav flex-column py-2">
                                <li class="nav-item"><a class="nav-link  " href="">Navigasi Satu</a></li>
                                <li class="nav-item"><a class="nav-link " href="">Navigasi Satu</a></li>
                            </ul>
                    </div>
                    <div class="py-1">
                            <a class="topics  font-weight-bold" href="">Get Started</a>
                            <ul class="nav flex-column py-2">
                                <li class="nav-item"><a class="nav-link  " href="">Navigasi Satu</a></li>
                                <li class="nav-item"><a class="nav-link " href="">Navigasi Satu</a></li>
                            </ul>
                    </div>
                    <div class="py-1">
                            <a class="topics  font-weight-bold" href="">Get Started</a>
                            <ul class="nav flex-column py-2">
                                <li class="nav-item"><a class="nav-link  " href="">Navigasi Satu</a></li>
                                <li class="nav-item"><a class="nav-link " href="">Navigasi Satu</a></li>
                            </ul>
                    </div>
                </div>
            </div><!-- col-md-3-->
            <div class="col-md-9 pl-0 pr-0">
                <div class="row">
                    <div class="col-md-9">
                        <div class="pl-2 pr-4 content">
                            <h1>What is Lorem Ipsum</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>

                            <h2>What is Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                            <h2>What is Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                            <h2>What is Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        </div>
                    </div><!-- col-md-9-->
                    <div class="col-md-3">
                        <div class="sidebar rightbar pl-3 border-left">
                            <div class="py-1 ">
                                    <a class="topics" href="">Get Started</a>
                                    <ul class="nav flex-column ">
                                        <li class="nav-item"><a class="nav-link  " href="">Navigasi Satu</a></li>
                                        <li class="nav-item"><a class="nav-link " href="">Navigasi Satu</a></li>
                                    </ul>
                            </div>
                        </div>
                    </div><!-- col-md-3-->
                </div>
            </div><!-- col-md-9-->
        </div>
    </main>
    <footer class="container-fluid py-3 border-top mt-5 text-center">
        <div class="created-tiniru"><small>Created using <a href="https://tiniru.com" target="_blank">Tiniru Doc</a> </small></div>
    </footer>
    <script src="./assets/jquery.min.js"></script>
    <script src="./assets/scripts.js"></script>
</body>
</html>
